<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    {{{body}}}
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-2 ">
            <div class="text-center shadow-sm p-2 bg-body rounded ">
                <label for="" class="fw-bold fs-5">Chức Năng</label>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <nav class="navbar">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Thêm Sản Phẩm
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <a class="nav-link" href="/addProduct"><i class="fas fa-plus"></i> Thêm Sản
                                                Phẩm</a>
                                            <a class="nav-link" href="/addNhanvien"><i class="fas fa-plus"></i> Thêm
                                                Nhân
                                                Viên</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li class="nav-item">
                                <a class="nav-link" href="/acount"><i class="fas fa-user"></i> Quản lý tài khoản</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/hoadon"><i class="fas fa-credit-card"></i> Thanh toán hóa
                                    đơn</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-sm-10 bg-light shadow-start bg-body rounded mh-100">
            {{#unless status}}
            <h2 class="text-center m-2">Thêm Nhân Viên</h2>
            {{#if check}}
            <span style="color: red">{{check}}</span>
            {{/if}}
            <form action="/acount/addUser" method="POST" enctype="multipart/form-data">
                <div class="d-flex justify-content-center mb-2">
                    <img id="myImg" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                        class="rounded-circle" alt="example placeholder" style="width: 120px;" />
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" onclick="document.querySelector('input[type=file]').click()"
                        class="btn btn-primary">Chọn ảnh</button>
                    <input type="file" name="myImage" accept="image/*" onchange="loadFile(event)"
                        style="display:none" />
                </div>

                <script>
                    // :http://localhost:3030/uploads/Mau3.png
                    var loadFile = function (event) {
                        var image = document.getElementById('myImg');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Enter password" name="name">
                    <label for="pwd">Nhập Họ Tên</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    <label for="email">Nhập Email</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                    <label for="pwd">Nhập Password</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd2">
                    <label for="pwd">Nhập Lại Password</label>
                </div>
                <div class="mb-3 mt-3">
                    <p>Phân Quyền</p>
                    <select class="form-select" name="phanQuyenAdmin">
                        <option value="">Chọn Quyền </option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center ">
                    <button type="submit" class="btn btn-primary me-2">Thêm Nhân Viên</button>
                </div>

            </form>
            {{else}}
            <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
                <div class="alert alert-danger" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                        aria-label="Warning:">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    Bạn không có quyền thực hiện chức năng này xin mời quay về <a href="/home" class="alert-link">Trang
                        chủ</a>
                </div>
            </div>
            {{/unless}}

        </div>
        <footer class="bg-light py-3 mt-2">
            <div class="container d-flex justify-content-center align-items-center flex-column">
                <p class="text-muted mb-0">Nguyễn Văn Chính PH23300</p>
                <a href="/home" class="link-secondary">Quay về trang chủ</a>
            </div>
        </footer>
</body>

</html>